body {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.git{
  background-image: url(../public/git/github-mark-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300%;
  text-align: end;
  margin-left: -100%;
}

.text-color{
  color:white;
}

.text-gray{
  color: gray;
}

.mw-70{
  max-width: 70%;
}

.text-animate {
  font-size: 3vw!important;
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 7px!important;
  cursor: pointer;
}

.text-animate {
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 1200px;
  }
  100% {
    background-position: 2000px;
  }
}